* {
  box-sizing: 0px;
}
body {
  margin: 0px;
}

.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-heading {
  font-family: "Roboto";
  color: #0f172a;
  font-size: 32px;
  font-weight: 500px;
}
@media screen and (min-width: 768px) {
  .main-heading {
    font-size: 64px;
  }
}

.card-container {
  background-color: #cffafe;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  width: 80%;
  border-radius: 12px;
  margin-top: 18px;
}
@media screen and (min-width: 768px) {
  .card-container {
    width: 50%;
    padding: 48px;
    margin-top: 24px;
  }
}
@media screen and (min-width: 992px) {
  .card-container {
    width: 40%;
  }
}
@media screen and (min-width: 1200px) {
  .card-container {
    width: 30%;
  }
}

.profile-img {
  width: 145px;
  height: 145px;
}

.profileName {
  color: #1e293b;
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 500;
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .profileName {
    font-size: 32px;
  }
}
.clgName {
  color: #1e293b;
  font-size: 14px;
  font-family: "Roboto";
  text-align: center;
}

@media screen and (min-width: 768px) {
  .clgName {
    font-size: 18px;
  }
}
.watch-img {
  margin-top: 24px;
}
